<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/layout :: head"></th:block>
<title>Configure SMS</title>


</head>
<body>
	<div th:replace="fragments/layout :: header"></div>

	<div class="container-fluid">
		<h2>SMS Configuration</h2>
		<div>
			Instance ID: <span
				th:text="${instance.instanceConfiguration.instanceId}"></span>
		</div>
		<form th:action="@{/service/smsService/configure}" method="post">
			<input type="hidden" name="instanceId"
				th:value="${instance.instanceConfiguration.instanceId}" />
			<div>
				SMS Body: <input type="text" name="smsBody"
					th:value="${instance.instanceConfiguration.smsBody}" />
			</div>
			<div>
				<input type="submit" class="btn btn-success" />
			</div>

		</form>
	</div>

</body>
</html>